<app-nav></app-nav>
<div class="product-item mt-5">
    <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex ms-auto rounded">
            <h2 class="section-heading mb-0">
                <span class="section-heading-upper">Mezclado a la Perfección</span>
                <span class="section-heading-lower">Cafés y Tés</span>
            </h2>
        </div>
    </div>
    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="../../../assets/products-01.jpg"
        alt="..." />
</div>

<section class="page-section cta mt-5">
    <div class="container">
        
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">¡Pasa!</span>
                        <span class="section-heading-lower">Estamos Abiertos</span>
                    </h2>
                    <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Domingo
                            <span class="ms-auto">Cerrado</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Lunes
                            <span class="ms-auto">7:00 AM - 8:00 PM</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Martes
                            <span class="ms-auto">7:00 AM - 8:00 PM</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Miércoles
                            <span class="ms-auto">7:00 AM - 8:00 PM</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Jueves
                            <span class="ms-auto">7:00 AM - 8:00 PM</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Viernes
                            <span class="ms-auto">7:00 AM - 8:00 PM</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Sábado
                            <span class="ms-auto">9:00 AM - 5:00 PM</span>
                        </li>
                    </ul>
                    <p class="address mb-5">
                        <em>
                            <strong>1116 Calle Orchard</strong>
                            <br />
                            Golden Valley, Minnesota
                        </em>
                    </p>
                    <p class="mb-0">
                        <small><em>Llámanos Cuando Quieras</em></small>
                        <br />
                        (317) 585-8468
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="../../../assets/about.jpg" alt="..." />
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Café Fuerte, Raíces Fuertes</span>
                            <span class="section-heading-lower">Sobre Nuestro Café</span>
                        </h2>
                        <p>Fundada en 1987 por los hermanos Hernandez, nuestro establecimiento ha estado sirviendo café
                            rico obtenido de agricultores artesanales en varias regiones de Sudamérica y Centroamérica. Nos
                            dedicamos a viajar por el mundo, buscando el mejor café y trayéndolo de vuelta aquí, a
                            nuestro café.</p>
                        <p class="mb-0">
                            Garantizamos que te enamorarás de nuestras mezclas decadentes desde el momento en que
                            entres hasta que des el último sorbo. Únete a nosotros para tu rutina diaria, una salida con
                            amigos, o simplemente para disfrutar de un momento a solas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
