<app-nav></app-nav>

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../../../assets/intro.jpg" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Tu blog de café</span>
                    <span class="section-heading-lower">El café que inspira</span>
                </h2>
                <p class="mb-3">Cada mañana nos levanamos y empezamos nuestro dia, pero ese pequeño placer con el que empezamos o acompañamos 
                    nuestro tiempo libre y nuestro trabajo debe ser cuidadosamente analizado para que cada momento sea especial.
                </p>
                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">¡Ver los detalles!</a></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Compromiso y sinceridad</span>
                        <span class="section-heading-lower">hacia ti</span>
                    </h2>
                    <p class="mb-0"> Es importante conocer los detalles sobre cada tipo de café y cual suele ser la mejor ocasión para tomarlos. 
                        Es por ello que hemos creado este blog para que puedas estar informado. Puedes contactar con nosotros si deseas saber sobre nuestros productos en la zona de 
                        <a href="Contacto">CONTACTO</a></p>
                </div>
            </div>
        </div>
    </div>
</section>